<div class="text-center mb-2">
    <h2 class="text-3xl lg:text-4xl font-bold mb-2">Onur Eren Akgül</h2>
    <p class="text-lg text-700">Jr. Fullstack Developer</p>
</div>

<div class="grid my-8 pt-2 ">
    <div class="col-12 lg:col-6 my-auto flex flex-column text-center lg:text-left lg:align-items-start">
        <div class="flex align-items-center justify-content-center bg-yellow-200 align-self-center lg:align-self-start"
            style="width:4.2rem; height:4.2rem; border-radius:10px;">
            <i class="pi pi-fw pi-info text-5xl text-yellow-700"></i>
        </div>
        <h2 class="line-height-1 text-900 text-4xl font-normal">About Me</h2>
        <span class="text-700 text-2xl line-height-3 mr-0 md:mr-2" style="max-width:650px;">Hello, I am Onur Eren Akgül,
            currently studying Computer Engineering at Bartin University as a 5th-grade student. I have been using Java
            for 2.5 years and have some experience with the C# language. Currently working on an Android app project
            using Java.</span>
    </div>

    <div class="flex justify-content-center flex-order-1 sm:flex-order-2 col-12 lg:col-6 bg-100 p-0"
        style="border-radius:8px;">
        <img lazyLoad="assets/images/colosseum.jpg" class="w-full h-auto" alt="colosseum">
    </div>
</div>
<div class="grid mt-2 pb-2 md:pb-8">
    <div class="flex justify-content-center col-12 lg:col-6 bg-100 p-0 flex-order-1 lg:flex-order-0"
        style="border-radius:8px;">
        <img lazyLoad="assets/images/venedikfoto.jpg" class="w-full h-auto" alt="venedik">
    </div>

    <div class="col-12 lg:col-6 my-auto flex flex-column lg:align-items-end text-center lg:text-right">
        <div class="flex align-items-center justify-content-center bg-purple-200 align-self-center lg:align-self-end"
            style="width:4.2rem; height:4.2rem; border-radius: 10px;">
            <i class="pi pi-fw pi-book text-5xl text-purple-700"></i>
        </div>
        <h2 class="line-height-1 text-900 text-4xl font-normal">Education</h2>
        <span class="text-700 text-2xl line-height-3 ml-0 md:ml-2" style="max-width:650px;">B.S. in Computer
            Engineering, Bartin University<br>08/2019 – present | Bartin, Turkey <br>B.S. in Computer Science,
            Politechnika Świętokrzyska<br>10/2022 – 02/2023 | Kielce, Poland</span>
    </div>
</div>
<div class="grid ">
    <div class="col-12 lg:col-6 my-auto flex flex-column text-center lg:text-left lg:align-items-start">
        <div class="flex align-items-center justify-content-center bg-blue-200 align-self-center lg:align-self-start"
            style="width:4.2rem; height:4.2rem; border-radius:10px;">
            <i class="pi pi-fw pi-desktop text-5xl text-blue-700"></i>
        </div>
        <h2 class="line-height-1 text-900 text-4xl font-normal">Skills and Interests</h2>
        <span class="text-700 text-2xl line-height-3 mr-0 md:mr-2" style="max-width:650px;">
            <h4>Coding skills</h4> Java (Intermediate), C# (Lower-Intermediate), C (Beginner Level), MSSQL, MYSQL
            (Beginner), ASP.NET (Beginner) <br>
            <h4>Interests</h4>Bowling, Basketball, Motorsports
        </span>
    </div>
    <div class="flex justify-content-center flex-order-1 sm:flex-order-2 col-12 lg:col-6 bg-100 p-0"
        style="border-radius:8px;">
        <img lazyLoad="assets/images/kayakfoto.jpg" class="w-full h-auto" alt="kayak">
    </div>
</div>