<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-3xl">
        <span class="text-900">Connect with Me on </span>
        <span class="text-blue-600">Social Media</span>
    </div>
    <div class="text-700 mb-6">Explore my presence across various social media platforms and stay connected with me.
    </div>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <a href="https://www.linkedin.com/in/onurerenakgul/" target="_blank">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-linkedin text-4xl text-blue-500"></i>
                </span></a>
            <div class="text-900 text-xl mb-3 font-medium">LinkedIn Profile</div>
            <span class="text-700 line-height-3">Connect with me on LinkedIn for professional networking and
                updates.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <a href="https://github.com/OnurEAkgul" target="_blank">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-github text-4xl text-blue-500"></i>
                </span></a>
            <div class="text-900 text-xl mb-3 font-medium">GitHub Profile</div>
            <span class="text-700 line-height-3">Explore my projects and contributions on GitHub.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <a href="https://www.instagram.com/onurerenakgul" target="_blank">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-instagram text-4xl text-blue-500"></i>
                </span></a>
            <div class="text-900 text-xl mb-3 font-medium">Instagram Account</div>
            <span class="text-700 line-height-3">Follow me on Instagram for updates on my daily life and
                interests.</span>
        </div>

        <div class="col-12 md:col-4 mb-4 px-5">
            <a href="https://www.youtube.com/channel/UCOshFJFD0q52SHzXjUAxSGQ" target="_blank">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-youtube text-4xl text-blue-500"></i>
                </span></a>
            <div class="text-900 text-xl mb-3 font-medium">YouTube Channel</div>
            <span class="text-700 line-height-3">Subscribe to my YouTube channel for videos and tutorials.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <a href="https://twitter.com/OnurErenAKGL" target="_blank">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-twitter text-4xl text-blue-500"></i>
                </span></a>
            <div class="text-900 text-xl mb-3 font-medium">Twitter Account</div>
            <span class="text-700 line-height-3">Follow me on Twitter for updates and thoughts.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <a href="assets/pdf/Onur-Eren-AKGÜL-Resume-15072024.pdf" target="_blank">
                <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                    <i class="pi pi-file-pdf text-4xl text-blue-500"></i>
                </span></a>
            <div class="text-900 text-xl mb-3 font-medium">My CV</div>
            <span class="text-700 line-height-3">You can download my cv for review</span>
        </div>

    </div>
</div>