<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Welcome to My Website!</span>
            <div class="text-6xl text-primary font-bold mb-3">Who am I?</div>
            <p class="mt-0 mb-4 text-xl line-height-3">I'm Onur Eren Akgül, and I'm a Jr. Fullstack developer. Dive in
                to learn more about me!</p>
        </section>
    </div>

    <div class="flex justify-content-center col-12 lg:col-6 bg-100 p-0 flex-order-1 lg:flex-order-0"
        style="border-radius:8px;">
        <img lazyLoad="assets/images/venedikfoto.jpg" class="w-full h-auto" alt="venedik"
            style="clip-path: polygon(5% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>